@model YongqingProgramTest.ViewModel.Out.CustomerRVModel;
@{
    ViewData["Title"] = "Index";
}

<h1>客戶</h1>
<div class="container" style="text-align:center;padding-top:2%">
    <div class="row" style="background-color: #DCDCDD;border:1px #46494C solid;">
        <div class="col-sm" style="border:1px #46494C solid;">
            客戶編號
        </div>
        <div class="col-sm" style="border:1px #46494C solid;">
            公司名字
        </div>
        <div class="col-sm" style="border:1px #46494C solid;">
            聯絡人姓名
        </div>
        <div class="col-sm" style="border:1px #46494C solid;">
            電話
        </div>
        <div class="col-sm" style="border:1px #46494C solid;">
        </div>
    </div>
    @if (Model.GetAllList.Any())
    {
        for (int i = 0; i < Model.GetAllList.Count; i++)
        {
            <div class="row" style="background-color: #C5C3C6;border:1px #46494C solid;">
                <div class="col-sm" style="border:1px #46494C solid;">
                    @Model.GetAllList[i].CustomerId
                </div>
                <div class="col-sm" style="border:1px #46494C solid;">
                    @Model.GetAllList[i].CompanyName
                </div>
                <div class="col-sm" style="border:1px #46494C solid;">
                    @Model.GetAllList[i].ContactName
                </div>
                <div class="col-sm" style="border:1px #46494C solid;">
                    @Model.GetAllList[i].Phone
                </div>
                <div class="col-sm" style="border:1px #46494C solid;">
                </div>
            </div>
        }
    }

</div>
